---
import BaseLayout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import AboutModal from "../components/AboutModal.astro";
import ContactModal from "../components/ContactModal.astro";
---

<BaseLayout title="M.A.J - Portfolio">
  <Header slot="header" />

  <main class="pt-18">
    <ProjectGrid />
  </main>

  <!-- Modales -->
  <AboutModal />
  <ContactModal />

  <Footer slot="footer" />
</BaseLayout>

<!-- Importar modales como módulo para que Vite/Astro los incluya en el build -->
 <script type="module" src="scripts/modals.js"></script>
