<header class="fixed top-0 w-full p-4 bg-black/60">
  <nav class="container mx-auto flex items-center justify-between">
    <a href="/" class="text-2xl font-bold">M.A.J</a>

    <div class="flex gap-3">
      <a href="#"><img src="img/icons/icon-instagram.svg" alt="ig" class="w-6 h-6"/></a>
      <a href="#"><img src="img/icons/icon-twitter.svg" alt="tw" class="w-6 h-6"/></a>
      <a href="#"><img src="img/icons/icon-github.svg" alt="gh" class="w-6 h-6"/></a>
    </div>
  </nav>
</header>
